
html{
    height: 100%;
}

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #535351;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
    height: 100%;
    .main{
        height: 100%;
        aside{
            height: 100%;
        }
    }
}
input, select, textarea {
    font-family: 'Open Sans', sans-serif;
    color: #767676;
}
a {
    color: #f8c400;
}
a:focus, a:active, a:hover {
    outline: none;
    transition: all 0.3s;
    color: #353F4F;
}
h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
}

.btn-warning{
    background-color: #ff8200;
    border-color: #ff8200;
}

.flex-box{
    display: flex;
    align-items: center;
}
/*-------------------------------
            LOGIN STYLES
-------------------------------*/

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 110px;
  border-top: 10px solid #f8c400;
  /*border-bottom: 5px solid #727272;*/
  border-bottom: 10px solid #5f5e5c;
  display: flex;
  align-items: center;
  background-color: #000;

}
.header-special{
  color: #898989;
}
.header-section{
  margin-right: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
/*---------------------------------
            LEFT SIDE
----------------------------------*/

.left-side {
    width: 240px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ddd;
}

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
}

.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}

.logo a {
    color: #fff;
    margin: 0 0 0 20px;
    text-decoration: none;
    display: inline-block;
}

.logo-icon {
    display: none;
}

.left-side-collapsed .logo-icon {
    height: 45px;
    margin-top: -48px;
    display: block !important;
}

.left-side-inner {
    padding: 0px;
    margin-bottom: 80px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width: 90%;
    margin: 0 0 20px 12px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}

.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color: #ddd;
  text-decoration: none;
  color: #000;
}

.custom-nav {
    margin-bottom: 10px;
}

.custom-nav >li{

    list-style-type:none;
   border-bottom:1px solid #efefef;
}

.custom-nav > li > a {
    color: #000;
    padding: 12px 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li > a:hover,
.custom-nav > li > a:active {
    background-color: #ddd;
    color: #000;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.custom-nav > li.menu-list > a {
    background: transparent url(../images/plus-white1.png) no-repeat 93% center;
}

.custom-nav > li.menu-list > a:hover{
    background-color: #ddd;
}
.custom-nav > li.menu-list > a:hover~a:after{
  content: "+";
  display: inline-block;
  width: 10px;
  height: 10px;
}
.custom-nav > li.nav-active > a {
    background-color: #ddd;
    background-image: url(../images/minus.png);
    color: #000;
}

.custom-nav > li.nav-active > ul{
    display: block;
}

.custom-nav > li.nav-active > a:hover {
    background-image: url(../images/minus.png);
}

.custom-nav > li.active > a,
.custom-nav > li.active > a:hover,
.custom-nav > li.active > a:focus {
   /*background-color: #353f4f;*/
   background-color: #fff;
   color: #f8c400;
}

.custom-nav > li.menu-list.active > a {
    background-image: url(../images/plus.png);
}

.custom-nav > li.nav-active.active > a {
    background-image: url(../images/minus.png);
}

.custom-nav > li.nav-active.active > a:hover {
    background-image: url(../images/minus.png);
}

.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}

.custom-nav .sub-menu-list {
    list-style: none;
    display: none;
    margin: 0;
    padding: 0;
    background: #efefef;
}

.custom-nav .sub-menu-list > li > a {
    color: #1f1a17;
    font-size: 13px;
    display: block;
    padding: 10px 5px 10px 50px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.custom-nav .sub-menu-list > li > a:hover,
.custom-nav .sub-menu-list > li > a:active,
.custom-nav .sub-menu-list > li > a:focus {
    text-decoration: none;
    color: #f8c400;
    background: #fff;
}

.custom-nav .sub-menu-list > li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list > li.active > a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}

.custom-nav .menu-list.active ul {
    display: block;
}

/*------------------------------------------
            LEFT SIDE COLLAPSE
-------------------------------------------*/

.left-side-collapsed .logo {
    display: none;
}

.left-side-collapsed .header-section {
    margin-left: 0px;
}
.header-section .pull-left{
  margin-left: 10px;
  color: #666;
  font-size: 12px;
}
.left-side-collapsed .left-side {
    width: 52px;
    top: 52px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
}

.left-side-collapsed .custom-nav {
    margin: 2px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 10px;
    position: relative;

}

.left-side-collapsed .custom-nav > li.menu-list > a {
    background-image: none;
}

.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background: #65CEA7;
    padding: 10px;
    left: 52px;
    top: 0;
    min-width: 173px;
    text-align: left;
    z-index: 100;
    display: none;
}

.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #65CEA7;
    border-width: 6px;
    margin-top: -6px;
}

.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul,
.left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav > li.nav-hover > a,
.left-side-collapsed .custom-nav > li.nav-hover.active > a {
    background: #fff;
    color: #424F63;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background: #65CEA7;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 53px;
    margin: 0;
    min-width: 172px;
    background: #353F4F;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
    background: #2A323F;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
}

.left-side-collapsed .main-content {
    margin-left: 52px;
}


.left-side-collapsed .left-side{
    overflow: visible !important;
}

/*----------------------------
        HEADER SECTION
-----------------------------*/

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    width: 52px;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    float: left;
    color: #fff;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
    background: #f8c400;
    color: #fff;
    border-right-color: #f8c400;
}

.searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    height: 35px;
    margin: 7px 0 0 10px;
    padding: 10px;
    width: 220px;
}

.searchform input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}

.notification-menu {
    flex: 1;
    list-style: none;
    min-width: 550px;
    margin-bottom: 0;
    margin-left: 15px;
}

.notification-menu > li {
    display: inline-block;
    position: relative;
}

.notification-menu a{
  color: #fff;
}

.notification-menu > li > a > i {
    margin-top: 0px;
    font-size: 16px;
}
.notification-menu > li > a > div {
   font-size:14px;
}
.notification-menu .dropdown-toggle {
    padding: 5px 6px;
    border-color: #ddd;
    border-radius: 4px;
    border: 0;
}

.notification-menu .dropdown-toggle:hover,
.notification-menu .dropdown-toggle:focus,
.notification-menu .dropdown-toggle:active,
.notification-menu .dropdown-toggle.active,
.notification-menu .open .dropdown-toggle.dropdown-toggle {
    background: #f8c400;
    color: #fff;
    box-shadow: none;
}

.notification-menu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    border-radius: 2px;
}

.notification-menu .dropdown-toggle .caret {
    margin-left: 5px;
}

.notification-menu .dropdown-menu {
    border: 0;
    margin-top: 0px;
    border-radius: 2px 0 2px 2px;
    box-shadow: none;
    padding: 5px;
}

.notification-menu .dropdown-menu:after {
    border-bottom: 6px solid #65cea7;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 10px;
    position: absolute;
    top: -6px;
}

.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    padding: 15px;
}

.notification-menu .dropdown-menu-usermenu li {
    padding: 0;
}

.notification-menu .dropdown-menu li a {
    color: #fff;
    font-size: 13px;
    padding: 7px 10px;
    border-radius: 2px;
    transition: all 0.2s ease-out 0s;
}

.notification-menu .dropdown-menu li a:hover {
    background: #2a323f;
    color: #fff;
}

.notification-menu .dropdown-menu li i {
    font-size: 11px;
    margin-right: 5px;
}

.notification-menu .dropdown-menu-head {
    padding: 0;
    min-width: 300px;
}

.notification-menu .info-number {
    padding: 12px 15px;
    height: 50px;
    font-size: 16px;
    background: #f8f8f8;
    color: #333;
    border-color: #ddd;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.notification-menu .dropdown-menu-usermenu {
    background: #65cea7;
    min-width: 200px;
}

.notification-menu .dropdown-menu-head ul {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
}

.notification-menu .dropdown-menu-head li a {
    color: #333;
    padding: 0;
    opacity: 1;
}

.notification-menu .dropdown-menu-head li a:hover {
    background: none;
    color: #65cea7 !important;
    text-decoration: none;
}

.notification-menu .btn-group {
    margin-bottom: 0;
}

.menu-right {
    margin-right: 15px;
}

.menu-right .dropdown-toggle img{
  width: 40px;
  border-radius: 50%;
}

.dropdown-list li {
    padding: 15px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}

.dropdown-list li:last-child {
    border-bottom: 0;
}

.dropdown-list .thumb {
    width: 36px;
    float: left;
}

.dropdown-list .thumb img {
    width: 100%;
    display: block;
    vertical-align: middle;
}

.dropdown-list .desc {
    margin-left: 45px;
    display: block;
}

.dropdown-list .desc h5 {
    font-size: 13px;
    margin-top: 7px;
}

.dropdown-list li:last-child {
    padding: 10px 15px;
}

.dropdown-list li .badge {
    float: right;
}

.user-list {
    width: 300px;
}

.user-list .progress {
    margin-bottom: 0;
}


.normal-list li a .label i {
    margin-right: 0;
}

.normal-list li a span.label {
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 20px;
}

.normal-list li a:hover {
    color: #65CEA7 !important;
    text-decoration: none;
}

.normal-list li .name {
    font-size: 13px;
    font-family: 'Arial' Helvetica, sans-serif;
    line-height: 21px;
}

.normal-list li .msg {
    font-size: 12px;
    line-height: normal;
    color: #999;
    display: block;
}

.info-number .badge {
    background: #FF6C60;
    border-radius: 2px;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
    padding: 2px 5px;
    position: absolute;
    right: 4px;
    top: 10px;
}

/* ------------------------------
        STICKY HEADER
---------------------------------*/

.sticky-header .logo {
    width: 240px;
    min-width: 240px;
}

.sticky-header .left-side {
    top: 110px;
    padding-bottom: 50px;
}

.sticky-header.left-side-collapsed .header-section {
    left: 52px;
}

.sticky-header.left-side-collapsed .menu-right {
    margin-right: 67px;
}

/* -----------------------
        DROPDOWN
--------------------------*/

.dropdown-menu-head {
    background: #fff;
}

.dropdown-menu-head .title {
    background: #65cea7;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

/*-----------------------------
        MAIN CONTENT
------------------------------*/

.main-content {
    margin-left: 240px;
    background: #F5F5F5;
    margin-top: 110px;
}

.page-heading {
    position: fixed;
    top: 110px;
    left: 240px;
    z-index: 999;
    background-color: #f5f5f5;
    width: 100%;
    padding-left: 15px;
}

.page-heading h3 {
    color: #49586e;
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0;
}

.page-heading .breadcrumb {
    padding: 15px 0;
    margin: 0;
    background: none;
}

.page-heading .breadcrumb a {
    color: #999999;
}

.page-heading .breadcrumb li.active,
.breadcrumb li.active a {
    color: #b58f00;
}

.wrapper {
    padding: 15px 0;
    padding-top: 65px;
}

.index-wrapper{
    /*padding-top: 95px;*/
    display: flex;
    flex-wrap: wrap;
}

.wrapper::after {
    clear: both;
    display: block;
    content: '';
    margin-bottom: 30px;
}

/*-------------------------
        BOXED VIEW
-------------------------*/

.boxed-view {
    background: #b6b7ba;
}

.boxed-view .container {
    position: relative;
    background: #424f63;
    padding: 0;
}

/*-----------------------------------
    HORIZONTAL PAGE VIEW
-------------------------------------*/

.horizontal-menu-page {
    background: #EFF0F4;
}

.horizontal-menu-page .navbar {
    margin-bottom: 0;
}

.horizontal-menu-page .navbar-brand {
    padding: 5px 15px;
    min-height: 50px;
}

.horizontal-menu-page .navbar-default {
    background: #424F63;
    border: none;
    border-radius: 0;
}

.horizontal-menu-page .navbar-default .navbar-nav > .active > a,
.horizontal-menu-page .navbar-default .navbar-nav > .active > a:hover,
.horizontal-menu-page .navbar-default .navbar-nav > .active > a:focus,
.horizontal-menu-page .navbar-default .navbar-nav > .open > a,
.horizontal-menu-page .navbar-default .navbar-nav > .open > a:hover,
.horizontal-menu-page .navbar-default .navbar-nav > .open > a:focus,
.horizontal-menu-page .navbar-default .navbar-nav > li > a:hover,
.horizontal-menu-page .navbar-default .navbar-nav > li > a:focus {
    background-color: #353F4F;
    color: #FFF;
}

.horizontal-menu-page .navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-size: 13px;
}

.horizontal-menu-page .form-control {
    box-shadow: none;
    float: left;
}

.horizontal-menu-page .dropdown-menu {
    background-color: #353F4F;
    color: #fff;
    box-shadow: none;
    border: none;
}

.horizontal-menu-page .dropdown-menu > li > a {
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
}

.horizontal-menu-page .dropdown-menu > li > a:hover,
.horizontal-menu-page .dropdown-menu > li > a:focus,
.horizontal-menu-page .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #2A323F;
    color: #65CEA7;
    text-decoration: none;
}

.horizontal-menu-page .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}

.horizontal-menu-page .navbar-default .navbar-toggle {
    border-color: #2A323F;
}

.horizontal-menu-page .navbar-default .navbar-toggle .icon-bar {
    background-color: #2A323F;
}

.horizontal-menu-page .navbar-default .navbar-toggle:hover,
.horizontal-menu-page .navbar-default .navbar-toggle:focus {
    background-color: #FFFFFF;
    border-color: #FFFFFF !important;
}

.horizontal-menu-page .navbar-default .navbar-collapse,
.horizontal-menu-page .navbar-default .navbar-form {
    border-color: #2A323F;
}

.horizontal-menu-page .dropdown-toggle img {
    border-radius: 2px;
    margin-right: 5px;
    vertical-align: middle;
    width: 18px;
}

/*-------------------
        TOOLS
--------------------*/

.tools {
    margin: -7px -5px;
}

.tools a {
    background: #E3E4E8;
    border-radius: 3px;
    color: #858582;
    float: left;
    margin-left: 3px;
    padding: 10px;
    text-decoration: none;
}

.tools a:hover {
    background: #65cea7;
    color: #fff;
}

/*--------------------------------
      FOOTER CONTENT STYLES
---------------------------------*/

footer {
    background: #fff;
    padding: 15px;
    color: #7A7676;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eff0f4;
    z-index: 1000;
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.container footer {
    width: 79.5%;
    position: absolute;
    bottom: 0;
}



/*-----------------------------------
     HEADER STATISTICS STYLES
-------------------------------------*/
.summary-box{
  box-shadow: 0 5px 0 rgba(248, 196, 0, 0.29);
}
.state-info {
  /*position: absolute;
  right: 15px;
  top: 125px;
  z-index: 999;*/
  padding: 21px 0;
  display: flex;
}

.state-info .panel {
    float: right;
    margin:0 15px;
    background-color: #fff;
    width: 50%;
}

.panel .summary {
    /*display: flex;*/
    float: left;
    /*margin-left: 20px;*/
    padding-right:20px;
}

.panel .summary span {
    color: #49586e;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
}

.panel .summary h3 {
    font-size: 23px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
}

.panel .summary h3.green-txt {
    color: #65cea7;
}

.panel-heading .red-txt {
    /*color: #fc8675;*/
    color: #f8c400;
    font-size: 20px;
}

.panel .summary h3.yellow-txt{
    color: #b58f2d;
}


/*-----------------------------------
    MORE STATISTICS BOX
-------------------------------------*/

.panel.deep-purple-box {
    background: #49586e;
    box-shadow: 0 5px 0 #424f63;
    color: #fff;
}

ul.bar-legend {
    list-style-type: none;
    margin-top: 55px;
    padding-left: 0px;
}

ul.bar-legend li {
    display: block;
    margin-bottom: 10px;
}

ul.bar-legend li span {
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}

ul.bar-legend li span.blue {
    background: #5ab6df;
}

ul.bar-legend li span.green {
    background: #4bcacc;
}

ul.bar-legend li span.purple {
    background: #6a8bbe;
}

ul.bar-legend li span.red {
    background: #fb8575;
}

/*---------------------------
    SLIDE TOGGLE STYLES
----------------------------*/

.slide-toggle div {
    float: left;
    margin-right: 20px;
}

/**end**/
.panel-title{
  background: #fff;
}
.panel-datas{
  background: none;
  box-shadow: none;
  margin-bottom: 0;
}
.panel-datas .row{
  display: flex;
}
.fa-circle{
  padding-right: 5px;
}
.btn-info{
  background-color: #f8c400;
  border-color: #f8c400;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info{
  background-color: #d6a900;
  border-color: #d6a900;
}



/*-------------------------------
          text-primary
 -------------------------------*/



 /*-----------------------------------
     GENERAL STATISTICS STYLES
 -------------------------------------*/

 .state-overview {
     color: #fff;
 }

 .state-overview .panel {
     padding: 35px 20px;
 }

 .state-overview .purple {
     background: #6a8abe;
     box-shadow: 0 5px 0 #5f7cab;
     /*background: #f8c400;
     box-shadow: 0 5px 0 #deb000;*/
 }

 .state-overview .red {
     background: #fc8675;
     box-shadow: 0 5px 0 #e27869;
     /*background: #f8c400;
     box-shadow: 0 5px 0 #deb000;*/
 }

 .state-overview .blue {
     background: #5ab6df;
     box-shadow: 0 5px 0 #51a3c8;
     /*background: #f8c400;
     box-shadow: 0 5px 0 #deb000;*/
 }

 .state-overview .green {
     background: #4acacb;
     box-shadow: 0 5px 0 #42b5b6;
     /*background: #cca201;
     box-shadow: 0 5px 0 #b18c00;*/
 }

 .state-overview .symbol, .state-overview .state-value {
     display: inline-block;
 }

 .state-overview .symbol {
     width: 35%;
 }

 .state-overview .symbol i {
     font-size: 40px;
 }

 .state-overview .state-value {
     width: 62%;
 }

 .state-overview .state-value .value {
     font-size: 24px;
     font-weight: bold;
     margin-bottom: 5px;
 }

 .state-overview .state-value .title {
     font-size: 14px;
 }


.text-primary{
  color: #f8c400;
}


.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus,
.pagination > li.active > a,
.pagination > li.active > a:hover,
.pager li > a:hover,
.pager li > a:focus{
  background-color: #f8c400;
  border-color: #f8c400;
  color: #fff;
}


/*-------------------------------
          装修进程图 sui-steps
 -------------------------------*/

.sui-steps .finished{
    background-color: #deb000;
}
.sui-steps .finished .round,
.sui-steps .finished .round>i{
    color: #deb000;
}
.sui-steps .finished .triangle-right{
    border-color: transparent transparent transparent #deb000;
}


.sui-steps .current{
    background-color: #f8c400;
}
.sui-steps .current .round{
    color: #f8c400;
}
.sui-steps .current .triangle-right{
    border-color: transparent transparent transparent #f8c400;
}
.sui-steps{
    margin: 19px 0;
}

.btn-primary{
  background-color: #463b10;
  border-color: #463b10;
}

.pricing-table-2{
  border: 0px;
  margin-bottom: 0px;
  padding: 5px 0;
}

.massage .panel-title,
.massage-content{
    padding: 15px 0;
}

.no-padding{
  padding:0;
}
.no-margin{
  margin: 0;
}
.form-horizontal .control-label{
  align-items: center;
}

label{
  margin-bottom: 0;
}

label input[type="checkbox"]{
  margin-right: 3px;
}

table.table-content tr>th,
table.table-content tr>td{
    border: 1px solid #fff;
    background-color: #f9f9f9;
    line-height: 34px;
    text-align: center;
}
table.table-content tr>th{
    color: #fff;
    background-color: #f8c400;
}
table.table-content tr>td:hover,
table.table-content tr>td.selected{
    background-color:#fff;
}
table.table-content tr>th:hover,
table.table-content tr>th.selected{
  background-color: #100e05;
}
