// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 设置
    li.active 大区管理
// page heading end
// main content start
.main-content
  // body wrapper start
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 大区列表
          form.form-inline(role='form', style='margin-top: 10px;')
            .row
              .col-md-11
                .col-md-6
                  input.form-control(type='email', placeholder='请输入方案编号\名称')
                  select.form-control
                    option 选择类型
                    option 门类
                    option 窗类
                  select.form-control
                    option 选择状态
                    option 执行中
                    option 待执行
                .col-md-6
                  label.control-label.col-md-3(style='margin-top: 5px;') 创建时间
                  .col-md-9.input-group.input-large.custom-date-range(data-date='13/07/2013', data-date-format='mm/dd/yyyy')
                    input.form-control.dpd1(type='text', name='from', placeholder='开始时间')
                    span.input-group-addon To
                    input.form-control.dpd2(type='text', name='to', placeholder='结束时间')
              .col-md-1
                button.btn.btn-primary(type='submit') 查询
                a.btn.btn-primary(ui-sref='app.zone.create') 添加
        .panel-body
          table.table.table-hover.general-table
            thead
              tr
                th 编号
                td 创建时间
                th 名称
                th 操作
            tbody
              tr(ng-repeat='item in vm.list')
                td {{item.id}}
                td.center {{item.cd}}
                td.center {{item.name}}
                td
                  a.btn.btn-sm.btn-info(ui-sref='app.zone.edit({id: item.id})') 编辑
                  a.btn.btn-sm.btn-warning(ng-click='vm.remove(item.id)') 删除
      .row
        .pagination.pagination-sm.no-margin.pull-right(uib-pagination='', items-per-page='vm.pager.size', total-items='vm.pager.total', ng-model='vm.pager.page', max-size='vm.pager.max', boundary-links='true', rotate='false', num-pages='vm.pager.pageNumber', ng-change='vm.pageChanged()', first-text='首页', previous-text='前一页', next-text='后一页', last-text='末页')
  // body wrapper end
  footer
    | 2016 © 成都盈客网络科技有限公司
