.page-marketing{
  .upload-img-box{
    padding: 25px 0;
    .btn-upload-img {
      padding-top: 28px;
      width: 76px;
      height: 80px;
    }
    .upload-img{
      padding: 0;
      margin-left: 15px;
      margin-bottom: 15px;
      width: 76px;
      height: 80px;
    }
  }
}
