// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(ui-sref='app.notice.list()') 公告管理
    li.active 编辑公告
.main-content
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 编辑公告
        .panel-body
          form(name='vm.form', ng-submit='vm.edit()')
            .col-md-10
                .form-group
                    label.control-label.col-md-2.no-padding 标题:
                    .col-md-10
                      input.form-control(name='name', type='text', ng-required='true', ng-model='vm.data.title')
                .form-group
                    label.control-label.col-md-2.no-padding 公告:
                    .col-md-3
                      label.control-label
                        input#optionsRadios2(type='radio', name='important', ng-model='vm.data.important' ng-value='0')
                        | 普通公告
                    .col-md-3
                      label.control-label
                        input#optionsRadios2(type='radio', name='important', ng-model='vm.data.important',ng-value='1')
                        | 非常重要
                .form-group
                    label.control-label.col-md-2.no-padding 类型:
                    .col-md-3
                        select.form-control.input-group.input-large.custom-date-range(ng-options='item.value as item.label for item in vm.types', ng-model='vm.data.type')
                            option(value='') 选择类型
                .form-group
                    label.control-label.col-md-2.no-padding 是否内部通知:
                    .col-md-3
                      label.control-label
                        input#optionsRadios2(type='radio', name='inside', ng-model='vm.data.inside' ng-value='0')
                        | 否
                    .col-md-3
                      label.control-label
                        input#optionsRadios2(type='radio', name='inside', ng-model='vm.data.inside',ng-value='1')
                        | 是
                .form-group
                    label.control-label.col-md-2.no-padding 通知区域:
                    .col-md-4
                      select.form-control.input-group.input-large.custom-date-range(ng-required='true', ng-model='vm.data.zone_id', ng-options='item.id as item.name for item in vm.zone')
                        option(value='') --区域选择--
                .form-group
                    label.control-label.col-md-2.no-padding 正文:
                    textarea.col-md-10.form-control(name='name', rows='6', placeholder='请输入正文', ng-model='vm.data.content', ng-required='true')
                .form-group
                    label.control-label.col-md-2.no-padding 超大文档下载地址:
                    .col-md-9
                      input.form-control(name='name', ng-required='true', ng-model='vm.data.maxfile', placeholder='http://', type='text')
                .form-group
                    label.control-label.col-md-2.no-padding 附件文档:
                    div.control-label(ng-if='vm.file.url')
                        a.btn.btn-danger(ng-href='{{vm.file.url}}') {{vm.file.name ? vm.file.name: "下载"}}
                
  footer
    | 2016 © 成都盈客网络科技有限公司
