.page-case-create{
  .btn-upload-img {
    width: 106px;
    height: 107px;
    padding-top: 28px;
    font-size: 28px;
  }
  .btn-file {
      position: relative;
      overflow: hidden;
  }
  .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      text-align: right;
      opacity: 0;
      filter: alpha(opacity=0);
      opacity: 0;
      background: none repeat scroll 0 0 transparent;
      cursor: inherit;
      display: block;
  }
  table.table-content tr>td.selected{
      background-color:#b58f00;
  }
  table.table-content tr>th{
      background-color:#f8c400;
  }
  table.table-content tr>td{
    &:hover{
      cursor: pointer;
      background-color:#f8c400;
    }
  }
}
