.left-side.sticky-left-side
  .left-side-inner
    .visible-xs.hidden-sm.hidden-md.hidden-lg
      .media.logged-user
        img.media-object(alt='', src='./assets/images/user-avatar.png')
        .media-body
          h4
            a(href='#') Gary zhang
          span "Hello There..."
      h5.left-nav-title 帐号信息
      ul.nav.nav-pills.nav-stacked.custom-nav
        li
          a(href='#')
            i.fa.fa-user
            span 个人信息
        li
          a(href='#')
            i.fa.fa-cog
            span 编辑信息
        li
          a(href='#')
            i.fa.fa-sign-out
            span 退出
    ul.nav.nav-pills.nav-stacked.custom-nav
      li.active
        a(href='#')
          i.fa.fa-home
          span 工作台
      li
        a(href='#')
          i.fa.fa-files-o
          span 订单管理
      li
        a(ui-sref='app.marketing.list()', ng-class='{"active": vm.url == "marketing"}')
          i.fa.fa-gift
          span 营销管理
      li
        a(ui-sref='app.patrol.list()', ng-class='{"active": vm.url == "patrol"}')
          i.fa.fa-building-o
          span 巡店管理
      li
        a(ui-sref='app.case.list()', ng-class='{"active": vm.url == "case"}')
          i.fa.fa-file-text
          span 案例管理
      li
        a(ui-sref='app.dealer.list()', ng-class='{"active": vm.url == "dealer"}')
          i.fa.fa-users
          span 经销商管理
      li
        a(ui-sref='app.renovation.list()', ng-class='{"active": vm.url == "renovation"}')
          i.fa.fa-users
          span 装修管理
      li
        a(ui-sref='app.report.list()', ng-class='{"active": vm.url == "report"}')
          i.fa.fa-user
          span 汇报管理
      li
        a(href='#', ng-class='{"active": vm.url == "statistics"}')
          i.fa.fa-bar-chart-o
          span 统计分析
      li
        a(ui-sref='app.notice.list()', ng-class='{"active": vm.url == "renovation"}')
          i.fa.fa-volume-up
          span 公告管理
      li.menu-list.nav-active
        a(href='javascript:;', ng-click='vm.showSettingSubMenus()')
          i.fa.fa-gear
          span 系统配置
        ul.sub-menu-list(ng-show='vm.isSettingSubMenusShow')
          li
            a(ui-sref='app.zone.list()', ng-class='{"active": vm.url == "zone"}') 大区管理
          li
            a(ui-sref='app.area.list()', ng-class='{"active": vm.url == "area"}') 区域管理
          li
            a(ui-sref='app.setting.source.list()', ng-class='{"active": vm.url == "source"}') 客户来源管理
          li
            a(ui-sref='app.setting.dealer-level.list()', ng-class='{"active": vm.url == "dealer-level"}') 供应商等级管理
          li
            a(ui-sref='app.property.list()', ng-class='{"active": vm.url == "property"}') 案例属性
