aside.left-side.sidebar-offcanvas
  section.sidebar.page-nav-left
    ul.sidebar-menu.page-nav-left-menu
        li.treeview
            a(ui-sref='app.category.list()')
                i.fa.fa-laptop
                span {{'category.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.news.list()')
                i.fa.fa-newspaper-o
                span {{'news.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.carousel.list()')
                i.fa.fa-file-excel-o
                span {{'carousel.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.settlement.list()')
                i.fa.fa-money
                span {{'settlement.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.log.list()')
                i.fa.fa-book
                span {{'log.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.account.search()')
                i.fa.fa-book
                span {{'会员管理' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(href='javascript:;', ng-click='vm.showMenuBar("room")')
                i.fa.fa-bar-chart-o
                span {{'room.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu(ng-class='{"active": vm.active == "room"}')
                li
                    a(ui-sref='app.room.auto.list()')
                        i.fa.fa-angle-double-right
                        |  {{'room.auto.nav_title' | translate}}
                li
                    a(ui-sref='app.room.manual.list()')
                        i.fa.fa-angle-double-right
                        | {{'room.manual.nav_title' | translate}}
        li.treeview
            a(ui-sref='app.recommend.list()')
                i.fa.ion-thumbsup
                span {{'recommend.title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ng-click='vm.showMenuBar("statistic")')
                i.fa.fa-bar-chart
                span {{'statistic.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu(ng-class='{"active": vm.active == "statistic"}')
                li(ng-repeat = 'statisticItem in vm.statisticsMenu')
                    a(ui-sref='{{statisticItem.url}}()')
                        i.fa.fa-angle-double-right
                        |  {{statisticItem.text}}

        li.treeview
            a(ui-sref='app.log.contest-search()')
                i.fa.fa-hand-scissors-o
                span {{'log.contest.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right
        li.treeview
            a(ui-sref='app.robot.list()')
                i.fa.fa-hand-scissors-o
                span {{'robot.nav_title' | translate}}
                i.fa.fa-angle-left.pull-right

        li.treeview
            a(ng-click='vm.showMenuBar("exchange")')
                i.fa.fa-balance-scale
                span {{'exchange.nav_title' | translate}}
                span.treeItem-tips(ng-hide='!vm.exchangeNum') {{vm.exchangeNum}}
                i.fa.fa-angle-left.pull-right
            ul.treeview-menu(ng-class='{"active": vm.active == "exchange"}')
                li(ng-repeat = 'item in vm.exchangeMenu')
                    a(ui-sref='{{item.url}}()')
                        i.fa.fa-angle-double-right
                        |  {{item.text}}
