// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 经销商等级管理
    li.active 编辑经销商等级
.main-content
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 添加区域
        .panel-body
          form(name='vm.form', ng-submit='vm.create()')
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.form.zone_id.$invalid && vm.form.zone_id.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='zone-id') 所属区域:
                    .col-md-9.col-sm-9.no-padding
                        select#zone-id.form-control(ng-model='vm.area.zone_id', name='zone_id', ng-required="true", ng-options='item.id as item.name for item in vm.zone')
                            option(value='') 请选择
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.form.pid.$invalid && vm.form.pid.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='pid') 父级:
                    .col-md-9.col-sm-9.no-padding
                        select#pid.form-control(ng-model='vm.area.pid', name='pid', ng-required="true", ng-options='item.id as item.name for item in vm.parent')
                            option(value='') 请选择
            .row
                .form-group.col-md-6(ng-class="{'has-error' : vm.form.name.$invalid && vm.form.name.$dirty}")
                    label.col-md-3.col-sm-3.control-label(for='name') 名称:
                    .col-md-9.col-sm-9.no-padding
                        input#name.form-control(type='text',ng-model='vm.area.name', name='name', ng-required="true" placeholder='名称')

            .row        
                .form-group.col-md-12
                    .col-md-6
                        button.btn.btn-primary(type='submit', ng-disabled='vm.area.$invalid') 提交
                .form-group.col-md-12(ng-class="{'has-error': vm.error}", ng-show='vm.error')    
                    .col-md-6
                        .error-msg(ng-show='vm.error') {{vm.error}}
  footer
    | 2016 © 成都盈客网络科技有限公司
