doctype html
html(ng-app='feiyu-project')
  head
    meta(charset='UTF-8')
    title angularjs-example
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    // bootstrap 3.0.2
    link(media='all', type='text/css', rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(media='all', type='text/css', rel='stylesheet', href='//cdn.bootcss.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(media='all', type='text/css', rel='stylesheet', href='//cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css')
    link(media='all', type='text/css', rel='stylesheet', href='./assets/styles/index.css')
  body.skin-blue
    ui-view(name='top_nav')
    .wrapper.row-offcanvas.row-offcanvas-left
      ui-view(name='left_nav')
      aside.right-side(ng-class='{"right-side-centered": noFrame}')
        ui-view
    script(src='//cdn.bootcss.com/jquery/2.1.4/jquery.min.js')
    script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='./assets/js/index.js')
    script(src='//cdn.bootcss.com/danialfarid-angular-file-upload/3.1.2/angular-file-upload.min.js')
