// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 巡店管理
    li.active 编辑巡店计划
.main-content
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 编辑巡店计划
        .panel-body
          form(name='vm.form', ng-submit='vm.edit()')
            .col-md-7
              .form-group(ng-class="{'has-error' : vm.form.name.$invalid && vm.form.name.$dirty}")
                label.control-label.col-sm-3.no-padding 计划名称:
                .col-ms-9.col-xs-9
                  input.form-control(name='name', ng-model='vm.data.name', ng-required='true', type='text')
              .form-group(ng-class="{'has-error' : (vm.form.startdate.$invalid && vm.form.startdate.$dirty) || (vm.form.enddate.$invalid && vm.form.enddate.$dirty)}")
                label.control-label.col-sm-3.no-padding 执行日期:
                .col-sm-9.col-xs-9
                  .input-group.input-large.custom-date-range(data-date='13/07/2013', data-date-format='mm/dd/yyyy')
                    input.form-control.dpd1(type='text', name='startdate', ng-required='true',ng-model='vm.data.startdate' placeholder='开始时间')
                    span.input-group-addon 至
                    input.form-control.dpd2(type='text', ng-model='vm.data.enddate',name='enddate', ng-required='true', placeholder='结束时间')
              .form-group(ng-class="{'has-error' : vm.form.dealerno.$invalid && vm.form.dealerno.$dirty}")
                label.control-label.col-sm-3.no-padding 巡店要求:
                .col-sm-9.col-xs-9
                  textarea.col-sm-12.col-xs-12.no-margin.form-control(name='content', ng-required='true',ng-model='vm.data.content' rows='6', placeholder='请输入正文')
              .form-group
                div.control-label.col-sm-3.no-padding
                  div 巡店人员:
                  div 
                    a.btn.btn-primary(ng-click='vm.addMember()') 添加
                .col-sm-9.col-xs-9
                  table.table-content.col-sm-12.col-xs-12
                    thead
                      tr
                        th 姓名
                        th 操作
                    tbody
                      tr(ng-repeat='member in vm.members')
                        td {{member.name}}
                        td
                          a.btn.btn-default(ng-click='vm.remove($index)') 删除
              .form-group
                  label.control-label.col-sm-3.no-padding 巡店区域:
                  .col-ms-9.col-xs-9
                    select.form-control(name='name', ng-model='vm.data.zone_id', ng-options='item.id as item.name for item in vm.zone' ng-required='true')
                      option(value='') 请选择

              .form-group
                  .col-md-6
                      button.btn.btn-primary(type='submit', ng-disabled='vm.form.$invalid') 提交
              .form-group(ng-class="{'has-error': vm.error}", ng-show='vm.error')    
                  .col-md-6
                      .error-msg(ng-show='vm.error') {{vm.error}}
                
  footer
    | 2016 © 成都盈客网络科技有限公司
