// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 营销管理
    li.active 营销方案添加
.main-content
  .wrapper
    .col-sm-12
      section.panel
        {{vm.data | json}}
        .panel-heading
          | 营销方案添加
        .panel-body.page-marketing
          form.page-marketing-create(name='vm.form', ng-submit='vm.create()')
            .col-md-7
                .form-group
                  label.control-label.col-sm-3.no-padding 方案名称:
                  .col-ms-9.col-xs-9
                    input.form-control(name='name', type='text', ng-model='vm.data.name')
                .form-group
                  label.control-label.col-sm-3.no-padding 创建时间:
                  .col-sm-9.col-xs-9
                    .input-group.input-large.custom-date-range(data-date='13/07/2013', data-date-format='mm/dd/yyyy')
                      input.form-control.dpd1(type='text', name='from', ng-model='vm.startdate' placeholder='开始时间')
                      span.input-group-addon 至
                      input.form-control.dpd2(type='text', name='to', ng-model='vm.enddate', placeholder='结束时间')
                .form-group
                  label.control-label.col-sm-3.no-padding 内容:
                  .col-sm-9.col-xs-9
                    textarea.col-sm-12.col-xs-12.no-margin(name='name', rows='6', ng-model='vm.data.content', placeholder='请输入正文')                                 
                .form-group
                  label.control-label.col-sm-3.no-padding 是否强制:
                  .col-sm-5
                    label.control-label
                      input(type='checkbox', ng-model='vm.data.must', name='must', ng-true-value='1', ng-false-value='0')
                      | 强制参加
                  .col-sm-4.no-padding
                    label.control-label
                      input(type='checkbox', name='iswechat', ng-model='vm.data.iswechat', ng-true-value='1', ng-false-value='0')
                      | 发布公众号
                .form-group
                  label.control-label.col-md-4.no-padding 宣传品下载地址:
                  .col-md-8
                    //- div(file-uploader='', ng-model='vm.data.url', url='/Upload')
                    input.form-control(name='name', ng-model='download', placeholder='http://', type='text')
                .form-group
                  label.control-label.col-md-3.no-padding 方案文档:
                  div(file-uploader='', sub-class='btn btn-primary btn-file' ng-model='vm.data.file', url='/Upload')
                    //- input#file-0a.file(type='file', multiple='', data-min-file-count='1')
            .col-md-5
                .col-sm-12
                  label.control-label.col-md-3.no-padding 适用范围:
                  select.form-control(ng-options='item.id as item.name for item in vm.zone', name='zone_id', ng-model='vm.data.zone_id')
                    option(value='') --选择大区--
            .col-lg-12.upload-img-box
                label.control-label.col-sm-2 效果图:
                div.btn-upload-img.col-sm-2
                    div(file-uploader='', sub-class='btn btn-info btn-file', url='/Upload', ng-model='vm.data.iamges')
                .col-sm-2.upload-img(ng-repeat='image in vm.data.images')
                  img(ng-src='image', alt='')

          
                
  footer
    | 2016 © 成都盈客网络科技有限公司
