.g-md-location
    select.form-control(name='province', ng-model='model.province', ng-change='provinceChange()', ng-options='province.name for province in data.provinces')
        option(value='') -- 请选择省份 --
    select.form-control(name='city', ng-if='model.province', ng-model='model.city', ng-change='cityChange()', ng-options='city.name for city in data.cities')
        option(value='') -- 请选择城市 --
    select.form-control(name='district', ng-if='model.city && flags.status', ng-model='model.district', ng-change='districtChange()', ng-options='district.name for district in data.districts')
        option(value='') -- 请选择区 --
