#login-box.form-box
      .header {{'飞宇管理平台' | translate}}
      form(name='vm.loginForm', method='post', ng-submit='vm.login();')
        .body.bg-gray
          .form-group
            input.form-control(type='text', name='username', placeholder='{{"请输入用户名" | translate}}', ng-model='vm.username', ng-required='true')
          .form-group
            input.form-control(type='password', name='password', placeholder='{{"请输入密码" | translate}}', ng-model='vm.password', ng-required='true')
        .footer
            .error(ng-if='vm.error', style='text-align: center;color: red;margin-bottom: 10px;') {{vm.error}}
            button.btn.bg-olive.btn-block(type='submit', ng-disabled='vm.loginForm.$invalid') {{'登录' | translate}}