// page heading start
.page-heading
  ul.breadcrumb.panel
    li
      a(href='#')
        i.fa.fa-home
        |  工作台
    li
      a(href='#') 信息管理
    li.active 营销管理
// page heading end
// main content start
.main-content
  // body wrapper start
  .wrapper
    .col-sm-12
      section.panel
        .panel-heading
          | 营销方案列表
          form.form-inline(role='form', style='margin-top: 10px;')
            .row
              .col-md-11
                .col-md-6
                  input.form-control(type='email', placeholder='请输入方案编号\名称')
                  select.form-control
                    option 选择类型
                    option 门类
                    option 窗类
                  select.form-control
                    option 选择状态
                    option 执行中
                    option 待执行
                .col-md-6
                  label.control-label.col-md-3(style='margin-top: 5px;') 创建时间
                  .col-md-9.input-group.input-large.custom-date-range(data-date='13/07/2013', data-date-format='mm/dd/yyyy')
                    input.form-control.dpd1(type='text', name='from', placeholder='开始时间')
                    span.input-group-addon To
                    input.form-control.dpd2(type='text', name='to', placeholder='结束时间')
              .col-md-1
                button.btn.btn-primary 查询
            //
              <div class="form-group">
              <label class="col-lg-2 col-sm-2 control-label" for="exampleInputEmail2">Email address</label>
              <input type="email" class="col-lg-10" id="exampleInputEmail2" placeholder="Enter email">
              </div>
              <div class="form-group">
              <label class="sr-only" for="exampleInputPassword2">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
              </div>
        .panel-body
          table.table.table-hover.general-table
            thead
              tr
                th 方案编号
                th 方案名称
                th 发布时间
                th 状态
                th 执行时间
                th 参与门店
                th 点赞率
                th 评论数
                th 汇报数
                th 操作
            tbody
              tr(ng-click='vm.viewDealer()')
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-info.label-mini 执行完成
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
              tr
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-warning.label-mini 执  行  中
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
              tr
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-success.label-mini 执行完成
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
              tr
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-success.label-mini 执行完成
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
              tr
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-info.label-mini 执  行  中
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
              tr
                td 2016001
                td
                  a(href='#', data-toggle='modal', data-target='#myModal') 315促销方案
                td.center 2016-3-10
                td.center
                  span.label.label-info.label-mini 执  行  中
                td.center 2016-3-10至2016-3-16
                td.center 123
                td.center 90%
                td.center 56
                td.center 34
                td
                  a.btn.btn-sm.btn-info(href='#') 编辑
                  a.btn.btn-sm.btn-warning(href='#') 删除
      .row
        ul.pagination.pull-right(style='padding-right: 20px;')
          li
            a(href='#') «
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a(href='#') 3
          li.active
            a(href='#') 4
          li
            a(href='#') 5
          li
            a(href='#') »
  // body wrapper end
  footer
    | 2016 © 成都盈客网络科技有限公司
